@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bexley Reapers Wargaming Club</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Who Are We?</h2>
        <p>
            A friendly tabletop wargames club for anyone aged 18+ in SE London/NW Kent, UK. All type of tabletop games played including: trading cards, RPG and board games.
        </p>
    </div>
    <div class="col-md-4">
        <h2>What Games Are Played?</h2>
        <p>Main games played each week are Games Workshop's Warhammer 40k and Wizards of the Coast's Magic: The Gathering.<br />
However we regularly play many other game systems such as Dystopian Wars, Malifaux, Dreadball, Warhammer Fantasy, Necromunda, Cutlass!... and many more besides</p>
    </div>
    <div class="col-md-4">
        <h2>When & Where Do We Meet?</h2>
        <p>We meet every Monday night, 7:00pm until 11:00pm at Freemantle Hall in Bexley Village (North West Kent).<br />
Please see our Venue page for more details on finding our club.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>What We Charge</h2>
        <p>
            Your first night is free! After that subs for the hall cost £3 per night.<br />
            We also offer pre-pay cards at £10 for 4 nights which never expire, that works out at just £2.50 per night!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Who Should I Contact For More Info?</h2>
        <p>Feel free to email sam@reaperswargaming.co.uk or tom@reaperswargaming.co.uk for more information on the club.<br />
If emailing isn't your thing, you can always contact us via our forum on this site, or you can:</p><br />
        <a href="https://www.facebook.com/groups/193094553666/" target="_blank"><img src="http://www.fullerton.edu/alumni/img/find_us_on_facebook_small.jpg"></a>
    </div>
    <div class="col-md-4">
        <h2>Member of:</h2>
        <div class="invictaLink">
            <a href="http://www.invictagaming.co.uk" target="_blank"><img src="http://www.reaperswargaming.co.uk/invicta.png"></a>
        </div>
    </div>
</div>